.highlight {
  background: #ffffff;
}
.highlight .c {
  color: #999988;
  font-style: italic;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .k, .highlight .o {
  font-weight: bold;
}
.highlight .cm {
  color: #999988;
  font-style: italic;
}
.highlight .cp {
  color: #999999;
  font-weight: bold;
}
.highlight .c1 {
  color: #999988;
  font-style: italic;
}
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gr {
  color: #aa0000;
}
.highlight .gh {
  color: #999999;
}
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa;
}
.highlight .go {
  color: #888888;
}
.highlight .gp {
  color: #555555;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #aaaaaa;
}
.highlight .gt {
  color: #aa0000;
}
.highlight .kc, .highlight .kd, .highlight .kp, .highlight .kr {
  font-weight: bold;
}
.highlight .kt {
  color: #445588;
  font-weight: bold;
}
.highlight .m {
  color: #009999;
}
.highlight .s {
  color: #d14;
}
.highlight .na {
  color: #008080;
}
.highlight .nb {
  color: #0086B3;
}
.highlight .nc {
  color: #445588;
  font-weight: bold;
}
.highlight .no {
  color: #008080;
}
.highlight .ni {
  color: #800080;
}
.highlight .ne, .highlight .nf {
  color: #990000;
  font-weight: bold;
}
.highlight .nn {
  color: #555555;
}
.highlight .nt {
  color: #000080;
}
.highlight .nv {
  color: #008080;
}
.highlight .ow {
  font-weight: bold;
}
.highlight .w {
  color: #bbbbbb;
}
.highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo {
  color: #009999;
}
.highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx {
  color: #d14;
}
.highlight .sr {
  color: #009926;
}
.highlight .s1 {
  color: #d14;
}
.highlight .ss {
  color: #990073;
}
.highlight .bp {
  color: #999999;
}
.highlight .vc, .highlight .vg, .highlight .vi {
  color: #008080;
}
.highlight .il {
  color: #009999;
}

.twenty-four-col {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  background-color: #fff;
  font-face: sans-serif;
}
.twenty-four-col a[href^="http:"],
.twenty-four-col a[href^="mailto:"],
.twenty-four-col a[href^="http:"]:visited,
.twenty-four-col a[href$=".pdf"],
.twenty-four-col a[href$=".doc"],
.twenty-four-col a[href$=".xls"],
.twenty-four-col a[href$=".rss"],
.twenty-four-col a[href$=".rdf"],
.twenty-four-col a[href^="aim:"] {
  padding: 2px 22px 2px 0;
  margin: -2px 0;
  background-repeat: no-repeat;
  background-position: right center;
}
.twenty-four-col a[href^="http:"] {
  background-image: url('/images/link_icons/external.png?1337029633');
}
.twenty-four-col a[href^="mailto:"] {
  background-image: url('/images/link_icons/email.png?1337029633');
}
.twenty-four-col a[href^="http:"]:visited {
  background-image: url('/images/link_icons/visited.png?1337029633');
}
.twenty-four-col a[href$=".pdf"] {
  background-image: url('/images/link_icons/pdf.png?1337029633');
}
.twenty-four-col a[href$=".doc"] {
  background-image: url('/images/link_icons/doc.png?1337029633');
}
.twenty-four-col a[href$=".xls"] {
  background-image: url('/images/link_icons/xls.png?1337029633');
}
.twenty-four-col a[href$=".rss"],
.twenty-four-col a[href$=".rdf"] {
  background-image: url('/images/link_icons/feed.png?1337029633');
}
.twenty-four-col a[href^="aim:"] {
  background-image: url('/images/link_icons/im.png?1337029633');
}
.twenty-four-col a[href^="http:"], .twenty-four-col a[href^="mailto:"], .twenty-four-col a[href^="http:"]:visited,
.twenty-four-col a[href$=".pdf"], .twenty-four-col a[href$=".doc"], .twenty-four-col a[href$=".xls"], .twenty-four-col a[href$=".rss"],
.twenty-four-col a[href$=".rdf"], .twenty-four-col a[href^="aim:"] {
  padding-right: 15px;
}
.twenty-four-col #header, .twenty-four-col #footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
* html .twenty-four-col #header, * html .twenty-four-col #footer {
  overflow-x: hidden;
}
.twenty-four-col #header .small-font, .twenty-four-col #footer .small-font {
  font-size: 0.8em;
}
.twenty-four-col #sidebar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
}
* html .twenty-four-col #sidebar {
  overflow-x: hidden;
}
.twenty-four-col #sidebar ul {
  margin: 0px;
  padding: 0px;
}
.twenty-four-col #sidebar ul li {
  list-style: none;
}
.twenty-four-col #content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 750px;
  padding-bottom: 100px;
}
* html .twenty-four-col #content {
  overflow-x: hidden;
}
.twenty-four-col #content h1 {
  margin-top: 0px;
  padding-top: 0px;
}
