<!DOCTYPE html>
<html>
	<head>
		<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
		{% if page.description %}
		<meta name="description" content="{{ page.description }}" />
		{% endif %}
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="google-site-verification" content="WVMIhYbkSq4UzkZa_sKgdMy5xnE3A7bJ1qJbYY4Y_L8" />
		<link rel="stylesheet" media="screen" href="/assets/bootstrap/css/bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" media="screen" href="/assets/css/bootstrap-extensions.css" type="text/css" />
		<link rel="stylesheet" href="http://softwaremaniacs.org/media/soft/highlight/styles/solarized_light.css">

		{% if site.feedburner %}
		<link href="http://feeds.feedburner.com/{{ site.feedburner.id }}" rel="alternate" title="{{ site.title }}" type="application/atom+xml" />
		{% endif %}
	</head>

	<body>
		<div class=container>
			<div class="row">
				<div class="span3" id="menu_col">
					<div id='header'>
						<h1>leonardok.</h1>
					</div>

					<div id='sidebar'>
						<ul class="unstyled">
							<li><a href="/">Home <i class="icon-hand-left"></i></a></li>
							{% for page in site.html_pages %}
							{% if page.title %} <li><a href="{{ page.url }}">{{ page.title }} <i class="icon-hand-left"></i></a></li> {% endif %}
							{% endfor %}
						</ul>
						<br>
						<ul class="unstyled">
							<li><a target="_blank" href="http://github.com/leonardok">github.com/leonardok</a></li>
							<li><a target="_blank" href="http://bitbucket.org/leonardok/">bitbucket.org/leonardok</a></li>
							<li><a target="_blank" href="http://flickr.com/leokorndorfer">flickr.com/leokorndorfer</a></li>
							<li><a target="_blank" href="http://twitter.com/leonardork">twitter.com/leonardork</a></li>
						</ul>
					</div>

				</div>

				<!-- CONTENT -->
				<div class="span9" id="content_col">

					<div id='content'>
						{{ content }}
					</div>

				</div>
			</div>
		</div>


		{% if site.github %}
		<a href="http://github.com/{{ site.github.username }}">
			<img style="position: absolute; top: 0; right: 0; border: 0;" 
					src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" 
					alt="Fork me on GitHub" />
		</a>
		{% endif %}


		<script src="http://softwaremaniacs.org/media/soft/highlight/highlight.pack.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>

		{% if site.google_analytics %}
		<!-- google analytics async -->
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', '{{ site.google_analytics.account }}']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		{% endif %}


	</body>
</html>
